!!! 5
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Fridge
    link(rel='stylesheet', type='text/css', href='/style.css')
    script(type='text/javascript', src='/jquery-1.4.2.min.js')
    script(type='text/javascript', src='/raphael-min.js')
    script(type='text/javascript', src='/fridge.js')
  body
    div#main
      div#fridge
    :javascript
      | var magnets = #{magnets};
      | $(function() {
      |   if (window["WebSocket"]) {
      |     $('#fridge').fridge({ host: "#{host}", magnets: magnets });
      |   }
      | });
