body {
  cursor: url(/hand.png), auto;
  background-color: #eee;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

#main {
  position: relative;
  margin: 0;
  padding: 0;
  width: 960px;
  min-height: 1258px;
  background: url(/fridge.png) repeat-x top;
}

#fridge {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 20px;
  top: 75px;
  width: 915px;
  height: 1130px;
}

.mouse {
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url(/other-hand.png);
}

.magnet {
  position: absolute;
  padding: 3px;
  border: 1px solid black;
  background-color: white;
  text-align: center;
  font-family: verdana, sans-serif;
  font-size: larger;
  cursor: url(/hand.png), auto;
}
.magnet.ui-draggable-disabled {
  background-color: #8f0000;
  color: white;
}
.magnet.ui-draggable-dragging {
  background-color: green;
  color: white;
}
